## Import modules, set params, get data

In [37]:
from bs4 import BeautifulSoup, NavigableString, Tag

import requests 

url = 'http://www.dfhg-project.org/DFHG/api.php' # api documentation URL

res = requests.get(url)

content = res.content.decode() # original is in bytes, convert to string

In [38]:
authors = BeautifulSoup(content, 'html.parser')

## Clean HTML

In [47]:
authors = []
for br in test.findAll('br'): 
    next_s = br.nextSibling
    if not (next_s and isinstance(next_s,NavigableString)):
            continue
    next2_s = next_s.nextSibling
    if next2_s and isinstance(next2_s,Tag) and next2_s.name == 'br':
        text = str(next_s).strip()
        if text:
            authors.append(text)

In [52]:
authors = authors[7:]

In [54]:
lst = []
for author in final_list: 
    lst.append(author.split('.')[1:])

In [58]:
from itertools import chain
lst = list(chain(*lst))

In [60]:
authors_final = []
for author in lst: 
    authors_final.append(author.split('(')[0])

In [62]:
for author in authors_final:
    author = author.strip()

In [66]:
authors = []
for author in authors_final:
    authors.append(author.strip())

In [69]:
authors = authors[5:] # some extra cleanup required

### Generate dataframe of results

In [91]:
test = authors[:5]

In [92]:
test

['ABAS',
 'ABRON VEL HABRON BATIENSIS',
 'ABYDENUS',
 'ACESANDER',
 'ACESTODORUS vel ACESTORIDES']

In [76]:
url = 'http://www.dfhg-project.org/DFHG/api.php?author='

In [108]:
def process_list(authors):
    df_list = []
    url = 'http://www.dfhg-project.org/DFHG/api.php?author='
    for author in authors: 
        try:
            call = url + author 
            res = requests.get(call)
            res = res.json()
            df_list.append(pd.DataFrame(res))
        except: 
            pass
    return pd.concat(df_list)

In [109]:
out = process_list(authors)

In [110]:
out.head()

,volume,sub_volume,sub_volume_note,author,section,work,work_note,work_section,work_section_note,book,...,fragment_number,fragment_letter,fragment_note,witness,text,translation,commentary,note,urn,cite_urn
0,Volumen quartum,LIBER DECIMUS,SCRIPTORES AETATIS INCERTAE EX ORDINE LITERARUM,ABAS,ABAE FRAGMENTA,ΙΣΤΟΡΙΚΑ ΥΠΟΜΝΗΜΑΤΑ,,,,,...,1,,,"Ptolemaeus Hephaest. ap. Phot cod. 190, p. 15...","Ἡ Κανδαύλου γυνὴ, ἧς Ἡρόδοτος οὐ λέγει τοὔνομα...","Candaulae uxor, cujus nomen non prodit Herodo...",De Habrone aliunde non constat. De Tudû v. not...,,urn:lofts:fhg.4.abas.abae_fragmenta.commentari...,urn:cite:lofts:fhg4.abas:1
1,Volumen quartum,LIBER DECIMUS,SCRIPTORES AETATIS INCERTAE EX ORDINE LITERARUM,ABAS,ABAE FRAGMENTA,ΤΡΩΙΚΑ,,,,,...,2,,,"Servius ad Virgil. Aen. IX, 264: Devicta Arisbe]",Scilicet ab Achille. Dicta est Arisba a Meropi...,,,,urn:lofts:fhg.4.abas.abae_fragmenta.troica:2,urn:cite:lofts:fhg4.abas:2
0,Volumen quartum,LIBER DECIMUS,SCRIPTORES AETATIS INCERTAE EX ORDINE LITERARUM,ABRON VEL HABRON BATIENSIS,ABRONIS BATIENSIS FRAGMENTA,,,,,,...,1,,,Stephan. Byz.:,"Βατὴ, δῆμος τῆς Αἰγηίδος φυλῆς, ὅθεν ἦν Ἄβρων ...",,"Ἄβρων (rectius scribitur Ἄβρων) Βατῆθεν, pater...",,urn:lofts:fhg.4.abron_vel_habron_batiensis.abr...,urn:cite:lofts:fhg4.abron_vel_habron_batiensis:1
0,Volumen quartum,LIBER DECIMUS,SCRIPTORES AETATIS INCERTAE EX ORDINE LITERARUM,ABYDENUS,ABYDENI FRAGMENTA,ΑΣΣΥΡΙΑΚΑ ΚΑΙ ΜΗΔΙΚΑ,,,,,...,1,,,"Syncellus p. 38, B:",Ἐκ τῶν Ἀβυδηνοῦ Περὶ τῆς τῶν Χαλδαίων βασιλεία...,EX ABYDENO. De Chaldoeorum regno. Et de Chald...,Λέγεται Ἄλωρον] sic Scalig.; λέγων cod. A. An ...,,urn:lofts:fhg.4.abydenus.abydeni_fragmenta.ass...,urn:cite:lofts:fhg4.abydenus:1
1,Volumen quartum,LIBER DECIMUS,SCRIPTORES AETATIS INCERTAE EX ORDINE LITERARUM,ABYDENUS,ABYDENI FRAGMENTA,ΑΣΣΥΡΙΑΚΑ ΚΑΙ ΜΗΔΙΚΑ,,,,,...,2,,,"Eusebius Arm. p. 22 ed. Mai, postquam Chaldae...","Quoe hactenus dicta sunt, Abydenus etiam satis...",,"Iotages, etc.] «Ita in margine codicis, quae ...",,urn:lofts:fhg.4.abydenus.abydeni_fragmenta.ass...,urn:cite:lofts:fhg4.abydenus:2

In [111]:
out.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8330 entries, 0 to 0
Data columns (total 27 columns):
volume               8330 non-null object
sub_volume           8330 non-null object
sub_volume_note      8330 non-null object
author               8330 non-null object
section              8330 non-null object
work                 8330 non-null object
work_note            8330 non-null object
work_section         8330 non-null object
work_section_note    8330 non-null object
book                 8330 non-null object
book_note            8330 non-null object
chapter              8330 non-null object
paragraph            8330 non-null object
sub_paragraph        8330 non-null object
page                 8330 non-null object
type                 8330 non-null object
sub_type             8330 non-null object
fragment_number      8330 non-null object
fragment_letter      8330 non-null object
fragment_note        8330 non-null object
witness              8330 non-null object
text                 8330 non-null object
translation          8330 non-null object
commentary           8330 non-null object
note                 8330 non-null object
urn                  8330 non-null object
cite_urn             8330 non-null object
dtypes: object(27)
memory usage: 1.8+ MB

In [112]:
out.author.value_counts()

JOANNES ANTIOCHENUS     486
ARISTOTELES             452
HECATAEUS               395
THEOPOMPUS              362
APOLLODORUS             280
                       ...
ANTILOCHUS                1
SCYLAX CARYANDENSIS       1
CLODIUS NEAPOLITANUS      1
EUEMERIDAS CNIDIUS        1
LYSANIAS MALLOTES         1
Name: author, Length: 587, dtype: int64

In [115]:
len(out) - len(out.drop_duplicates())

265

In [116]:
out = out.drop_duplicates()

In [117]:
out.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8065 entries, 0 to 0
Data columns (total 27 columns):
volume               8065 non-null object
sub_volume           8065 non-null object
sub_volume_note      8065 non-null object
author               8065 non-null object
section              8065 non-null object
work                 8065 non-null object
work_note            8065 non-null object
work_section         8065 non-null object
work_section_note    8065 non-null object
book                 8065 non-null object
book_note            8065 non-null object
chapter              8065 non-null object
paragraph            8065 non-null object
sub_paragraph        8065 non-null object
page                 8065 non-null object
type                 8065 non-null object
sub_type             8065 non-null object
fragment_number      8065 non-null object
fragment_letter      8065 non-null object
fragment_note        8065 non-null object
witness              8065 non-null object
text                 8065 non-null object
translation          8065 non-null object
commentary           8065 non-null object
note                 8065 non-null object
urn                  8065 non-null object
cite_urn             8065 non-null object
dtypes: object(27)
memory usage: 1.7+ MB

In [119]:
out.to_csv('dfhg.csv')